<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.read.admin.KgRitFreezeLogRMapper">
  <resultMap id="BaseResultMap" type="com.kg.platform.dao.entity.KgRitFreezeLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oper_user_id" jdbcType="BIGINT" property="operUserId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="freeze_cnt" jdbcType="BIGINT" property="freezeCnt" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="cause" jdbcType="VARCHAR" property="cause" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oper_user_id, user_id, freeze_cnt, type, cause
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kg_rit_freeze_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kg_rit_freeze_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kg.platform.dao.entity.KgRitFreezeLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kg_rit_freeze_log (oper_user_id, user_id, freeze_cnt, 
      type, cause)
    values (#{operUserId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{freezeCnt,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{cause,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kg.platform.dao.entity.KgRitFreezeLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kg_rit_freeze_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operUserId != null">
        oper_user_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="freezeCnt != null">
        freeze_cnt,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="cause != null">
        cause,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operUserId != null">
        #{operUserId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="freezeCnt != null">
        #{freezeCnt,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        #{cause,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kg.platform.dao.entity.KgRitFreezeLog">
    update kg_rit_freeze_log
    <set>
      <if test="operUserId != null">
        oper_user_id = #{operUserId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="freezeCnt != null">
        freeze_cnt = #{freezeCnt,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        cause = #{cause,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kg.platform.dao.entity.KgRitFreezeLog">
    update kg_rit_freeze_log
    set oper_user_id = #{operUserId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      freeze_cnt = #{freezeCnt,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      cause = #{cause,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>