<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.read.AccountDepositFlowRMapper">
  <resultMap id="BaseResultMap" type="com.kg.platform.dao.entity.AccountDepositFlow">
    <id column="deposit_flow_id" jdbcType="BIGINT" property="depositFlowId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="deposit_amount" jdbcType="DECIMAL" property="depositAmount" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
    <result column="recharge_time" jdbcType="TIMESTAMP" property="rechargeTime" />
    <result column="account_time" jdbcType="TIMESTAMP" property="accountTime" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
    <result column="tx_id" jdbcType="VARCHAR" property="txId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    deposit_flow_id, user_id, user_phone, deposit_amount, account_amount, recharge_time, 
    account_time, from_address, to_address, tx_id, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kg_account_deposit_flow
    where deposit_flow_id = #{depositFlowId,jdbcType=BIGINT}
  </select>
    
  <select id="selectByTxid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kg_account_deposit_flow
    where tx_id = #{txId,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询保证金 -->
   <select id="selectByUserAmount" parameterType="com.kg.platform.model.in.AccountDepositFlowIntModel" resultType="com.kg.platform.model.out.AccountDepositFlowOutModel">
    select 
    <include refid="Base_Column_List" />
    from kg_account_deposit_flow
    where user_id = #{userId}
  </select>
  
 
</mapper>