<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.read.AccountWithdrawFlowRMapper">
  <resultMap id="BaseResultMap" type="com.kg.platform.dao.entity.AccountWithdrawFlow">
    <id column="withdraw_flow_id" jdbcType="BIGINT" property="withdrawFlowId" />
    <result column="account_flow_id" jdbcType="BIGINT" property="accountFlowId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="withdraw_amount" jdbcType="DECIMAL" property="withdrawAmount" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
    <result column="poundage_amount" jdbcType="DECIMAL" property="poundageAmount" />
    <result column="withdraw_time" jdbcType="TIMESTAMP" property="withdrawTime" />
    <result column="account_time" jdbcType="TIMESTAMP" property="accountTime" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
    <result column="tx_id" jdbcType="VARCHAR" property="txId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="verification_code" jdbcType="VARCHAR" property="verificationCode" />
  </resultMap>
  <sql id="Base_Column_List">
    withdraw_flow_id, account_flow_id, user_id, user_phone, user_email, withdraw_amount, account_amount, 
    poundage_amount, withdraw_time, account_time, from_address, to_address, tx_id, remark, 
    status, refuse_reason, verification_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kg_account_withdraw_flow
    where withdraw_flow_id = #{withdrawFlowId,jdbcType=BIGINT}
  </select>
  
  <select id="getauditAmount" parameterType="com.kg.platform.model.in.AccountWithdrawFlowInModel" resultType="com.kg.platform.model.out.AccountWithdrawFlowOutModel">
  
    SELECT kwf.withdraw_time,kwf.to_address,kwf.withdraw_amount,kwf.account_amount,kwf.poundage_amount,kwf.withdraw_flow_id,kwf.status
             
             FROM   kg_account_withdraw_flow kwf WHERE kwf.user_id=#{userId}  AND kwf.status=0
  
  </select>
    
  <select id="getUserWithdraw" parameterType="com.kg.platform.model.in.AccountWithdrawFlowInModel" resultType="com.kg.platform.model.out.AccountWithdrawFlowOutModel">
  
    SELECT kwf.withdraw_time,kwf.to_address,kwf.withdraw_amount,kwf.account_amount,kwf.poundage_amount,kwf.withdraw_flow_id,kwf.status
             
             FROM   kg_account_withdraw_flow kwf WHERE kwf.withdraw_flow_id=#{withdrawFlowId}
  
  </select>
  
   <select id="selectByUserFlow" parameterType="com.kg.platform.model.in.AccountWithdrawFlowInModel" resultType="com.kg.platform.model.out.AccountWithdrawFlowOutModel">
  
             
          select  <include refid="Base_Column_List" />  FROM   kg_account_withdraw_flow kwf WHERE kwf.user_id=#{userId}  AND kwf.withdraw_flow_id=#{withdrawFlowId}
  
  </select>
  
  
  
</mapper>