<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.read.CoinRMapper">
    <resultMap id="BaseResultMap" type="com.kg.platform.model.out.CoinOutModel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_cn" jdbcType="VARCHAR" property="nameCN"/>
        <result column="background" jdbcType="VARCHAR" property="background"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, type, name, name_cn, background, intro
  </sql>

    <select id="getByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kg_coin
        where type = #{type}
    </select>

</mapper>
