<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.read.LotteryRMapper">
  <resultMap id="BaseResultMap" type="com.kg.platform.model.out.LotteryOutModel">
    <id column="lottery_id" jdbcType="BIGINT" property="lotteryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lottery_status" jdbcType="INTEGER" property="lotteryStatus" />
    <result column="recieve_time" jdbcType="TIMESTAMP" property="recieveTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    lottery_id, user_id, prize_id, create_time, activity_id,lottery_status,recieve_time
  </sql>
  
  <select id="getLottery" parameterType="com.kg.platform.model.in.LotteryInModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kg_lottery
    where user_id = #{userId} and activity_id=#{activityId}
  </select>
    
  <select id="getPrizeCount" parameterType="com.kg.platform.model.in.LotteryInModel" resultType="java.lang.Integer">
    select 
    count(1)
    from kg_lottery
    where prize_id = #{prizeId} and  activity_id=#{activityId}
  </select>
  
  
 
</mapper>