<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.write.FeedbackWMapper">
    <resultMap id="BaseResultMap" type="com.kg.platform.dao.entity.Feedback">
        <id column="feedback_id" jdbcType="BIGINT" property="feedbackId"/>
        <result column="feedback_detail" jdbcType="VARCHAR" property="feedbackDetail"/>
        <result column="feedback_email" jdbcType="VARCHAR" property="feedbackEmail"/>
        <result column="feedback_phone" jdbcType="VARCHAR" property="feedbackPhone"/>
        <result column="from_url" jdbcType="VARCHAR" property="fromUrl"/>
        <result column="feedback_status" jdbcType="BIT" property="feedbackStatus"/>
        <result column="replay_info" jdbcType="VARCHAR" property="replayInfo"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="feedback_type" jdbcType="INTEGER" property="feedbackType"/>
        <result column="from_type" jdbcType="INTEGER" property="fromType"/>
    </resultMap>
    <sql id="Base_Column_List">
    feedback_id, feedback_detail, feedback_email, feedback_phone, from_url, feedback_status, 
    replay_info, create_date, create_user, update_date, update_user
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kg_feedback
    where feedback_id = #{feedbackId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.kg.platform.dao.entity.Feedback">
    insert into kg_feedback (feedback_id, feedback_detail, feedback_email, 
      feedback_phone, from_url, feedback_status, 
      replay_info, create_date, create_user, 
      update_date, update_user)
    values (#{feedbackId,jdbcType=BIGINT}, #{feedbackDetail,jdbcType=VARCHAR}, #{feedbackEmail,jdbcType=VARCHAR}, 
      #{feedbackPhone,jdbcType=VARCHAR}, #{fromUrl,jdbcType=VARCHAR}, #{feedbackStatus,jdbcType=BIT}, 
      #{replayInfo,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>


    <!-- 前台已经反馈保存 -->
    <insert id="insertFront" parameterType="com.kg.platform.model.in.FeedbackInModel">
        insert into kg_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                feedback_id,
            </if>
            <if test="feedbackDetail != null">
                feedback_detail,
            </if>
            <if test="feedbackEmail != null">
                feedback_email,
            </if>
            <if test="feedbackPhone != null">
                feedback_phone,
            </if>
            <if test="fromUrl != null">
                from_url,
            </if>
            <if test="feedbackStatus != null">
                feedback_status,
            </if>
            <if test="replayInfo != null">
                replay_info,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                #{feedbackId,jdbcType=BIGINT},
            </if>
            <if test="feedbackDetail != null">
                #{feedbackDetail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackEmail != null">
                #{feedbackEmail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackPhone != null">
                #{feedbackPhone,jdbcType=VARCHAR},
            </if>
            <if test="fromUrl != null">
                #{fromUrl,jdbcType=VARCHAR},
            </if>
            <if test="feedbackStatus != null">
                #{feedbackStatus,jdbcType=BIT},
            </if>
            <if test="replayInfo != null">
                #{replayInfo,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <insert id="insertSelective" parameterType="com.kg.platform.dao.entity.Feedback">
        insert into kg_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                feedback_id,
            </if>
            <if test="feedbackDetail != null">
                feedback_detail,
            </if>
            <if test="feedbackEmail != null">
                feedback_email,
            </if>
            <if test="feedbackPhone != null">
                feedback_phone,
            </if>
            <if test="fromUrl != null">
                from_url,
            </if>
            <if test="feedbackStatus != null">
                feedback_status,
            </if>
            <if test="replayInfo != null">
                replay_info,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                #{feedbackId,jdbcType=BIGINT},
            </if>
            <if test="feedbackDetail != null">
                #{feedbackDetail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackEmail != null">
                #{feedbackEmail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackPhone != null">
                #{feedbackPhone,jdbcType=VARCHAR},
            </if>
            <if test="fromUrl != null">
                #{fromUrl,jdbcType=VARCHAR},
            </if>
            <if test="feedbackStatus != null">
                #{feedbackStatus,jdbcType=BIT},
            </if>
            <if test="replayInfo != null">
                #{replayInfo,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kg.platform.dao.entity.Feedback">
        update kg_feedback
        <set>
            <if test="feedbackDetail != null">
                feedback_detail = #{feedbackDetail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackEmail != null">
                feedback_email = #{feedbackEmail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackPhone != null">
                feedback_phone = #{feedbackPhone,jdbcType=VARCHAR},
            </if>
            <if test="fromUrl != null">
                from_url = #{fromUrl,jdbcType=VARCHAR},
            </if>
            <if test="feedbackStatus != null">
                feedback_status = #{feedbackStatus,jdbcType=BIT},
            </if>
            <if test="replayInfo != null">
                replay_info = #{replayInfo,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
        </set>
        where feedback_id = #{feedbackId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kg.platform.dao.entity.Feedback">
    update kg_feedback
    set feedback_detail = #{feedbackDetail,jdbcType=VARCHAR},
      feedback_email = #{feedbackEmail,jdbcType=VARCHAR},
      feedback_phone = #{feedbackPhone,jdbcType=VARCHAR},
      from_url = #{fromUrl,jdbcType=VARCHAR},
      feedback_status = #{feedbackStatus,jdbcType=BIT},
      replay_info = #{replayInfo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where feedback_id = #{feedbackId,jdbcType=BIGINT}
  </update>


    <!-- 前台已经反馈保存 -->
    <insert id="insertFrontForApp" parameterType="com.kg.platform.model.in.FeedbackInModel">
        insert into kg_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                feedback_id,
            </if>
            <if test="feedbackDetail != null">
                feedback_detail,
            </if>
            <if test="feedbackEmail != null">
                feedback_email,
            </if>
            <if test="feedbackPhone != null">
                feedback_phone,
            </if>
            <if test="fromUrl != null">
                from_url,
            </if>
            <if test="feedbackStatus != null">
                feedback_status,
            </if>
            <if test="replayInfo != null">
                replay_info,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="feedbackType != null">
                feedback_type,
            </if>
            <if test="fromType != null">
                from_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">
                #{feedbackId,jdbcType=BIGINT},
            </if>
            <if test="feedbackDetail != null">
                #{feedbackDetail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackEmail != null">
                #{feedbackEmail,jdbcType=VARCHAR},
            </if>
            <if test="feedbackPhone != null">
                #{feedbackPhone,jdbcType=VARCHAR},
            </if>
            <if test="fromUrl != null">
                #{fromUrl,jdbcType=VARCHAR},
            </if>
            <if test="feedbackStatus != null">
                #{feedbackStatus,jdbcType=BIT},
            </if>
            <if test="replayInfo != null">
                #{replayInfo,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="feedbackType != null">
                #{feedbackType,jdbcType=INTEGER},
            </if>
            <if test="fromType != null">
                #{fromType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>