<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.platform.dao.write.KgColumnCountWMapper">
  <resultMap id="BaseResultMap" type="com.kg.platform.model.out.KgColumnCountOutModel">
    <id column="column_key" jdbcType="VARCHAR" property="columnKey" />
    <result column="article_num" jdbcType="INTEGER" property="articleNum" />
  </resultMap>

  <sql id="Base_Column_List">
    column_key, article_num
  </sql>

  <delete id="deleteAll" >
    delete from kg_column_count
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kg_column_count
    where column_key = #{columnKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kg.platform.model.in.KgColumnCountInModel">
    insert into kg_column_count (column_key,article_num)
    values (#{columnKey,jdbcType=VARCHAR},#{articleNum,jdbcType=INTEGER})
  </insert>

  <insert id="insertList" parameterType="java.util.List">
    insert into kg_column_count (column_key,article_num)
    values
    <foreach collection ="list" item="item" separator =",">
    (#{item.columnKey,jdbcType=VARCHAR},#{item.articleNum,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.kg.platform.model.in.KgColumnCountInModel">
    insert into kg_column_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleNum != null">
        article_num,
      </if>
      <if test="columnKey != null">
        column_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleNum != null">
        #{articleNum,jdbcType=INTEGER},
      </if>
      <if test="columnKey != null">
        #{columnKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.kg.platform.model.in.KgColumnCountInModel">
    update kg_column_count
    <set>
      <if test="articleNum != null">
        article_num = #{articleNum,jdbcType=INTEGER},
      </if>
    </set>
    where column_key = #{columnKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kg.platform.model.in.KgColumnCountInModel">
    update kg_column_count
    set article_num = #{articleNum,jdbcType=INTEGER}
    where column_key = #{columnKey,jdbcType=VARCHAR}
  </update>
</mapper>