<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName" default-lazy-init="true">


    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
        <property name="maxWaitMillis" value="-1"/>
        <property name="maxTotal" value="1000"/>
        <property name="minIdle" value="8"/>
        <property name="maxIdle" value="100"/>
    </bean>

    <bean id="jedisCluster" class="com.kg.platform.common.utils.JedisClusterFactory">
        <property name="addressConfig">
            <value>classpath:redis.properties</value>
        </property>
        <property name="addressKeyPrefix" value="address"/>   <!--  属性文件里  key的前缀 -->
        <property name="timeout" value="2000"/><!-- 连接超时 -->
        <property name="soTimeout" value="2000"/><!-- 获取数据超时 -->
        <property name="maxRedirections" value="6"/>
        <property name="password" value="${redis.password}"/>
        <property name="genericObjectPoolConfig" ref="genericObjectPoolConfig"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="1000"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="minIdle" value="10"/>
        <property name="maxIdle" value="50"/>
        <property name="maxWaitMillis" value="5000"/>
    </bean>

    <bean id="jedisShardInfo" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.host}" type="java.lang.String"/>
        <constructor-arg index="1" value="${redis.host}_${redis.port}"
                         type="java.lang.String"/>
        <constructor-arg index="2" value="${redis.port}" type="int"/>
        <constructor-arg index="3" value="5000" type="int"/>
        <constructor-arg index="4" value="3" type="int"/> <!-- weight -->
        <property name="password" value="${redis.password}"/>
        <property name="connectionTimeout" value="2000"/><!-- 连接超时 -->
        <property name="soTimeout" value="2000"/><!-- 获取数据超时 -->
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <ref bean="jedisShardInfo"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="host" value="${redis.host}"/>
        <constructor-arg name="port" value="${redis.port}" type="int"/>
        <constructor-arg name="timeout" value="2000" type="int"/>
        <constructor-arg name="password" value="${redis.password}"/>
    </bean>

    <bean id="jedisUtils" class="com.kg.platform.common.utils.JedisUtils"/>

    <bean id="redissonUtil" class="com.kg.platform.common.lock.RedissonUtil" lazy-init="false"/>

</beans>
